################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.png

CuRTIOW/*

x64/*

.vs/*