################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gradient.png

CuRTIOW/*

x64/*

.vs/*